<li id="groupost-<%= groupost.id %>">
 
  <span class="user"><%= link_to groupost.user.username, groupost.username %></span>
  <span class="content"><%= groupost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(groupost.created_at) %> ago.
  </span>
</li>