

<div class="navbar navbar-default navbar-fixed-bottom">
 
    <span class="navbar-text">
      

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">About <span class="sr-only">(current)</span></a></li>
      
       <li><a href="#">Privacy</a></li>
       <li><a href="#">Terms</a></li>
     
       
     
    </div>










    </span>
  
</div>